<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <title>Movie Search!</title>
</head>

<body>
  <div id="container">
    <div id="main">
      <h1>
        <div>
          <a class="home" href="/">Movie Search</a>
        </div>
      </h1>
      <div id="yield">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
