

<% if @result && @result['Error'] %>
  <p class='error'>You didn't enter anything..</p>
<% end %>

<% if @result && @result['Search'] %>
  <% @result['Search'].each do |movie| %>
    <div>
      <p><a class="idlinks" href="/movie?id=<%=movie['imdbID']%>"> <%= movie['Title'] %></a></p>
    </div>
  <% end %>
<% end %>

<form action="/" method="gets">
  <input name="search" placeholder="Movie Title">
  <button>Search!</button>
</form>





